nav {
    padding: 5rem;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #C1E2A4;
}

#Recent {
    background-color: #C1E2A4;
}

#contact {
    background-color: white;
}

section {
    padding-top: 5rem;
}
